@media only screen and (max-width: 640px) {
  .root {
    margin-right: 0 !important;
    :global .column {
      padding-right: 0 !important;
    }
  }
}
.resultMessage {
  min-height: 134px;
  margin: 5px 0;
  .added {
    color: $correct-color;
  }
  .removed {
    color: $error-color;
  }
}

.correctAnswerNotification {
  color: $correct-color;
  font-size: 30px;
  padding-top: 50px;
  text-align: center;
}

.correctAnswerContainer {
  .header {
    color: grey;
  }
}
.details {
  margin: 5px 0 7px 0;
  .header {
    /* color: $error-color; */
  }
}

.buttonsContainer {
  text-align: right;
}

.phraseWithDiff {
  padding: 5px 0;
}
