.root {
  border-radius: 0 !important;
  position: absolute !important;
  top: 0;
  z-index: 1000;
  width: 100% !important;
  margin-bottom: 0 !important;

  .stipPadding {
    padding: 0 !important;
  }

  .stipTopBottomPadding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
