/* css scroll animation: http://jsfiddle.net/YYPKM/3/ */
$slide-mode-height: calc(100vh - 40px);
.container {
  width: 100%;
  margin: 0 auto;
  @media only screen and (max-width: 600px) {
    height: $slide-mode-height !important;
  }
}

.videoContainer {
  height: 200px;
  border: 1px dotted black;
  text-align: center;
  padding-top: 90px;
  color: #ccc;
}

.slide {
  @media only screen and (max-width: 600px) {
    min-height: $slide-mode-height !important;
    z-index: 0;
    background-color: #fff;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &.video.active {
      transform: translateY(0);
    }
    &.auth.active {
      transform: translateY(-100vh);
    }
  }
}

.centered {
  text-align: center;
}
