$uncheck-container-height: 54px;
.uncheckAllContainer {
  display: block !important;
  width: 70px;
  /* text-align: center; */
  line-height: $uncheck-container-height !important;
  padding: 0 !important;
  .row {
    line-height: calc($uncheck-container-height / 2) !important;
    height: calc($uncheck-container-height / 2);
    padding-left: 17px;
  }
}
.buttonsContainer {
  flex-grow: 1 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
