.root {
  input {
    width: 128px !important;
  }
}
.withIconTrigger {
  :global .dropdown.icon {
    float: right;
    top: 12px;
  }
  button.triggerButton {
    padding-left: 5px !important;
    padding-right: 16px !important;
  }
}
