@media only screen and (max-width: 640px) {
  .root {
    margin-right: 0 !important;
    :global .column {
      padding-right: 0 !important;
    }
  }
}

.option {
  margin: 5px 0 !important;
  &.correct {
    background-color: green !important;
  }
  &.wrong {
    background-color: red !important;
  }
}

.nextButton,
.skipButton {
  margin: 5px 5px 5px 0 !important;
}

.checkAnswerButtonsContainer {
  margin-top: 25px;
}
