.root {
  position: fixed !important;
  top: 0;
  z-index: 1000;
  width: 100%;
}
.menu {
  /* TODO: config */
  height: 55px;

  width: 100% !important;
  margin-bottom: 0 !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: 0 !important;
}
