/* .root, */
.content {
  display: flex !important;
  flex-grow: 1 !important;
  min-height: calc(100vh - $topbar-height);
}
/*.root {
  min-height: 100vh;
  flex-direction: column !important;
}*/
.content {
  padding: 7px;
  /* set the min-height for large screens only since AppContainer sets in only for mobiles */
  @media only screen and (min-width: 640px) {
    min-height: 100vh;
  }
  background-color: #fff;
}
