.root,
.content {
  display: flex !important;
  flex-grow: 1 !important;
}
.root {
  min-height: 100vh;
  flex-direction: column !important;
}
.content {
  padding: 20px 20px 20px 20px;
  @media only screen and (max-width: 640px) {
    padding: 55px 20px 20px 20px;
  }
  background-color: #fff;
}
