.dropdownWrappingBtn {
  padding: 0 !important;
  width: 115px;
}
.dropdown {
  > i {
    right: 10px !important;
    margin: 0 !important;
    float: right !important;
    position: absolute !important;
  }
  :global .menu {
    margin-top: 0 !important;
  }
}
